
* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(24, 24, 27, 0);
    color: #fafafa;
}

tooltip {
    background: #000000;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #3f3f46;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}



#workspaces button {
    color: #71717a;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

#workspaces button.active {
    color: #fafafa;
}

#workspaces button.focused {
    color: #fafafa;
    background: #fafafa;
    border-radius: 13px;
}



#workspaces button.persistent {
    color: #e4e4e7;
}


#workspaces button.empty {
    color: #71717a;
}

#workspaces button.active,
#workspaces button.visible {
    color: #fafafa;
    box-shadow: inset 0 -1px #18181b;
}

#workspaces button.urgent {
    color: #71717a;
}
#custom-weather,
#language,
#cpu,
#window,
#clock,
#pulseaudio,
#pulseaudio.microphone,
#workspaces,
#tray,
#memory,
#disk,
#tray {
    background: #18181b;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
}

#workspaces {
    background: #18181b;
    border-radius: 13px;
    margin-left: 5px;
    padding-right: 0px;
}

#window {
    border-radius: 7px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fafafa;
    border-radius: 0px 13px 13px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#network {
    color: #e4e4e7;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
}

#custom-notifications {
    color: #e4e4e7;
    border-radius: 7px 7px 7px 7px;
    padding-left: 9px;
    padding-right: 15px;
    margin-left:  2px;
    margin-right: 2px;

}

#custom-updates {
    color: #e4e4e7;
    border-radius: 7px 7px 7px 7px;
    border-left:  0px;
    border-right: 0px;
    margin-left:  2px;
    margin-right: 2px;
}

#custom-player {
 color: #a1a1aa;
 border-radius: 7px 7px 7px 7px;
 padding-left: 4px;
 margin-left:  5px;
 margin-right: 5px;
}

#memory {
    color: #e4e4e7;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right:0px;
}

#disk {
    color: #e4e4e7;
    border-radius: 0px 13px 13px 0px;
    margin-left: 0px;
}


#bluetooth {
  color: #e4e4e7;
  border-radius: 0px 13px 13px 0px;
  margin-left: 5px;
  margin-right: 5px;
}

#pulseaudio {
  color: #e4e4e7;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#pulseaudio.microphone {
    color: #a1a1aa;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#language {
   border-radius: 13px 0px 0px 13px;
   margin-right:0px;
}

#cpu {
   border-radius: 13px 0px 0px 13px;
   padding-left:10px;
   margin-right:0px;
   margin-left: 0px;
}

#custom-weather {
   border-radius: 13px 13px 13px 13px;
   margin-right: 0px

}


